.App {
  display: flex;
  padding: 30px;
}

.board-wrapper {
  display: flex;
  flex-direction: column;
}

.horizontal-wrapper {
  display: flex;
  height: 40vw;
}

.move-list {
  background-color: salmon;
  flex-grow: 4;
  margin-left: 15px;
}
